<div class="wrapper">
  <div class="header d-flex">
    <div class="header__burger" (click)="drawer.toggle()"></div>
    <div class="header__login d-flex">
      <div class="login__name">Hello {{ userName }}</div>
      <button class="login__profile" mat-raised-button>Profile</button>
      <button class="login__logout" mat-raised-button>Log Out</button>
    </div>
  </div>

  <mat-drawer-container class="main example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <div class="main__sidenav">
        <ul>
          <li routerLinkActive="active"><a [routerLink]="['/create']">Generate a tree</a></li>
          <li routerLinkActive="active"><a [routerLink]="['/display-existing-tree']">Display existing a tree</a></li>
        </ul>
      </div>
    </mat-drawer>

    <div class="main__content">
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-container>

</div>
